@media (min-width: 701px) {
  #full {
     display: grid;
     grid-template:
     "header  header" 110px
     "meio aside"
     "esquerda aside" 1fr
     "footer footer" 50px
     /  1fr  1fr;
     gap: 5px;
  }



 header#cabecalho {
  display: grid;
  grid-area: header;
  grid-template:
  "menu logo ." 110px
  / 1fr  1fr 1fr;
  

}

.botao {
  display: none;
}

header#cabecalho ul.menu {
  display: flex;
}

header#cabecalho nav {
  display:grid;
  grid-area: menu;
  align-self: flex-end;
  justify-self: center;
  
  
  }

  header#cabecalho .escudo {
    display:grid;
    grid-area: logo;
    justify-self: flex-end;
    z-index: 1;
    }

    section#esquerda {
      display:grid;
      grid-area: esquerda;
      margin: 0;
      

    }
    

   
    
    main {
      display:grid;
      grid-area: meio;
      margin-bottom: 0;

  }
  aside {
    display:grid;
    grid-area: aside;
    
    
    }

    footer {
      display:grid;
      grid-area: footer;
      margin-top: 0;
  }

  
 

}
  
@media (min-width: 900px) {
  #full {
     display: grid;
     grid-template:
     "header header header" 140px
     "esquerda meio aside" 1fr
     "footer footer footer" 50px
     /  1fr  50%  1fr;
     gap: 5px;
  }

  

  header#cabecalho .escudo {
    justify-self: center;
  }

main {
  margin:0;
}
  
  .contato ul {
  display: grid;
  align-self: flex-start;
  margin: 0%;

}

}
