

div#elencorpz {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-items: center;
    background-image: url(../imagens/campo.jpeg);
    background-size: 100%;
    display: grid;
    
}
ul#elencofotos {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    
    justify-content: center;
    
}

 
ul#elencofotos li {
   width: 131px;
   display: grid;
   border: 1px solid black;
   margin: 5px;
}

ul#elencofotos li p {
    font-size: 12pt;
    text-align: center;
    background-color: black;
    
}

@media (max-width:700px) {
    div#elencorpz {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 5;
    }
}
