body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color: white;
}

#full {
    display: grid;
    grid-template:
    "header header header" 140px
    "esquerda content aside" 1fr
    "footer footer footer" 50px
    /  1fr  50%  1fr;
    gap: 10px;
}
/******************* INÍCIO DO CABEÇALHO ******************/
header#cabecalho {
    grid-area: header;
    background:linear-gradient(0deg,#792d2f,black, #792d2f);
    display:grid;
    grid-template:
    "menu logo ." 140px
    / 1fr  1fr 1fr;
    
    
}

div.botao {
display: none;
}

ul.botaomenu {
    list-style: none;
    
    background-color:#792d2f;
    padding: 5px;
    width: 90%;
    margin: 0px -50px;
}
ul.botaomenu li {
margin-bottom: 2px;
padding: 4px;
text-align: center;
text-transform: uppercase;
background-color: rgba(0, 0, 0, 0.3);
}

ul.botaomenu li a {
    color: white;
    text-decoration: none;
}



header#cabecalho nav {
grid-area: menu;
display: grid;
align-content: flex-end;


}

header#cabecalho .escudo {
grid-area: logo;
justify-self: center;
margin-top: -14px;
z-index: 1;
}

header#cabecalho ul.menu {
    list-style: none;
    display: flex;
    align-items: center; 
    margin-left: -30px;
    margin-bottom: 0px;
}

header#cabecalho ul.menu li {
 padding: 10px;
 background-color: rgba(0, 0, 0, 0.2);
 
}

header#cabecalho ul.menu li a {
    color: white;
    text-decoration: none;
    
}

header#cabecalho ul.menu li:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


/******************* FIM DO CABEÇALHO ******************/

/******************* CONTEÚDO DA ESQUERDA ***************/
section#esquerda {
    grid-area: esquerda;
    display: grid;
    color: white;
    background-color: #792d2f;
    
    
}
.contato h1 {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 16pt;
    margin-top: 0px;
    text-align: center;
}

.contato {
    background-color: rgba(0, 0, 0, 0.1);
    
}

.contato ul {
    box-shadow: 0px 0px 10px  black;
    color: #792d2f;
    color: white;
    
}

.contato ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
    
}

section#esquerda section#anuncio article{
    height: 200px;
    width: 100%;
    background-color: black;  
} 
section#esquerda section#anuncio article p {
    
    text-align: center;
    font-size: 30pt;
}
/******************* FIM DO CONTEÚDO DA ESQUERDA ***************/

/******************* COTEÚDO PRINCIPAL ***************/
main {
    grid-area: content;
    background-color: #792d2f;
}

section#conteudoprincipal {
    display: grid;
}

section#conteudoprincipal article { 
padding: 5px;
}
section#conteudoprincipal figcaption {
font-size: 18pt;
text-align: center;
background-color: rgba(0, 0, 0, 0.3);
position: relative;
top: -32px;
}
section#conteudoprincipal article img {
    width: 100%;
}
/******************* FIM DO COTEÚDO PRINCIPAL ***************
/******************* ASIDE ***************/
aside {
grid-area: aside;
background-color: #792d2f;
display: grid;

}
aside article img {
    width: 50%;
    max-width: 170px;
}
aside h1 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 0px;
    font-size: 16pt;
}
aside article {
    display: flex;
    padding: 2px 0px;
    margin: 4px;
    background-color:rgba(0, 0, 0, 0.3);
    
}

aside article p {
   text-align: center;
   align-self: center;
   font-size: 14pt;
}


aside section label a {
    color: white;
    text-decoration: none;

}
aside section#facebook {
    
}



/******************* FIM DO ASIDE***************/
/******************* FOOTER ***************/
footer {
    grid-area: footer;
    background-color: #792d2f;
    align-content: center;
    text-align: center;
}

@media (max-width: 700px) {
    #full {
        display: grid;
        grid-template:
        "header" 140px
        "content" 298px
        "aside" 1fr
        "esquerda" 1fr
        "footer" 50px
        / 1fr ;
        gap: 10px;
    }
    main {
        grid-column: 1fr;
    }
    section#esquerda .socio {
        display: none;
    }

    header#cabecalho ul.menu {
        display: none;
    }
  
    div.botao {
    display: flex;
    }
    header#cabecalho nav {
    align-content: flex-start; 
        }     
    div.botao .botaomenu {
        display: none;
    }

   
}
