body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  color: white;


}


/******************* INÍCIO DO CABEÇALHO ******************/
header#cabecalho {

  display: flex;
  justify-content: space-around;
  align-items:center;
  background-color: back;
  background: url("../IMG/banner-topo.png") no-repeat black;
  background-position: 50% 50%;
  background-size: 100% 100%;
  height: 140px;
  margin-bottom: 5px;


}
  header#cabecalho nav {
    grid-area: menu;
    display: grid;
    align-content: flex-end;
    
    
}
  
  /********** BOTÃO MENU MOBILE*********/

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  border:none;
  width: 56px;
  height: 56px;
  border-radius: 10px;
  margin-top: 4px;
  

}

.botao img {
  width: 40px;
  height: 40px;
}

ul.botaomenu {
  
  list-style: none;
  display: none;
  background-color:white;
  padding: 2px;
  margin-top: 70px;
  z-index: 2;
  width: 40%;
  position:absolute;
  border-radius: 10px;
  
 
}

ul.botaomenu li {
margin: 2px;
padding: 4px;
text-align: center;
text-transform: uppercase;
background-color: black;
border: 1px solid white;
border-radius: 10px;

}

ul.botaomenu li a {
  color: white;
  text-decoration: none;
}

ul.botaomenu li:hover {
  background-color: #792d2f;
}



/**************** ESCUDO DO TIME************/

header#cabecalho .escudo {
display: flex;
align-self: center;
z-index: 1;
}

/**************** MENU DESKTOP*************/

header#cabecalho ul.menu {
  list-style: none;
  display: flex;
  align-items: center; 
  margin-left: -30px;
  margin-bottom: 0px;
  display: none;
 
}

header#cabecalho ul.menu li {
padding: 10px;
background-color: rgba(0, 0, 0, 0.2);
border: 1px solid white;

}

header#cabecalho ul.menu li a {
  color: white;
  text-decoration: none;
  
}

header#cabecalho ul.menu li:hover {
  background-color: #792d2f;

}


/******************* FIM DO CABEÇALHO ******************/

/******************* DESKTOP - CONTEÚDO DA ESQUERDA ***************/
section#esquerda {
  color: white;
  background-color: white;


  /*************** CONTATO****************/
}
.contato h1 {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.3rem;
  margin: 0px;
  padding: 2px;
    display: grid;
  align-self: flex-start;
  justify-content: center;
}

.contato {
  background-color: black;
  display: grid;
  align-items: center;
}

.contato ul {
  box-shadow: 0px 0px 10px  white;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;display: grid;
  align-self: center;
  justify-content: center;
  justify-self: center;
  border-radius: 5px;
  
  
}

.contato ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;

  
}
  /**************** ANÚNCIO *************/

  #anuncio {
    background-color: black;
    border: 1px solid black;
    margin-top: 5px;
    padding: 5px;
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 5px;
    
  }

section#esquerda section#anuncio article{
  height: 130px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  
  
} 
section#esquerda section#anuncio article p {
  
   display: grid;
  align-self: center;
  justify-self: center;
  padding: 5px;
  font-size: 2rem;
}

#facebook {
 padding: 10px 0;
}


/******************* | MOBILE - NOTÍCIA CENTRAL| DESKTOP - CONTEÚDO DO MEIO ***************/
main {
  background-color: black;
  margin-bottom: 5px;
}

section#conteudoprincipal {
  display: grid;
}

section#conteudoprincipal article { 
padding: 5px;
}
section#conteudoprincipal figcaption {
font-size: 1.4rem;
text-align: justify;
padding: 5px;
display: flex;
justify-content: center;

}
section#conteudoprincipal article img {
  width: 100%;

}

/******************* DESKTOP - ASIDE ***************/

/***************ÚLTIMAS NOTÍCIAS***********/

aside {
background-color: black;
margin-bottom: 5px;

}
aside article img {
  width: 50%;
  max-width: 170px;
}
aside h1 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 0px;
  font-size: 1.3rem;
  padding: 2px;
}
aside article {
  display: flex;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;

  
}

aside article legend {
 text-align: center;
 align-self: center;
 font-size: 1.1rem;

}


/******************* FOOTER ***************/
footer {
  background-color: black;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 5px;
  
}


