div#tabela {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  justify-content: center;
  align-content: center;
  
  
  
}
table {
   font-size: 2rem;
  margin: 5px;
  color: white;
  background-color: black;
}

tr {
 border: 1px solid white;
 background-color:  #792d2f;

}

th {
 border: 1px solid white;
 background-color:  #792d2f;

}

td {
 border: 1px solid white;
 background-color:  #792d2f;

}
@media (min-width:701px) {
 div#tabela {
     grid-column-start: 1;
     grid-column-end: 3;
     grid-row-start: 2;
     grid-row-end: 4;
 }

 
}


@media (min-width: 900px) {
 div#tabela {
     grid-column-start: 1;
     grid-column-end: 4;
     grid-row-start: 2;
     grid-row-end: 3;
 }
    



}